@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Burial";
}

@model FullBurial

<div>
    <h1>@Model.Burialmain.Squarenorthsouth @Model.Burialmain.Northsouth @Model.Burialmain.Squareeastwest @Model.Burialmain.Eastwest @Model.Burialmain.Area @Model.Burialmain.Burialnumber</h1>
<ul>
    @*<li>Textile Structure: @Model.TextileStructure</li>*@
    @*<li>Estimate Stature: @Model.EstimateStature</li>*@
    @*<li>Textile Function: @Model.TextileFunction</li>*@
</ul>
</div>

@*<h1>@Model.BurialmainTextile.MainTextileid</h1>*@

<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-5">
                Sex
            </div>
            <div class="col">
                @Model.Burialmain.Sex
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile color
            </div>
            <div class="col">
                {Textile color}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile structure
            </div>
            <div class="col">
                {Textile structure}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Burial Depth
            </div>
            <div class="col">
                @Model.Burialmain.Depth
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                Age at Death
            </div>
            <div class="col">
                @Model.Burialmain.Ageatdeath
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Head Direction
            </div>
            <div class="col">
                @Model.Burialmain.Headdirection
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile Function
            </div>
            <div class="col">
                {Textile Function}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Hair Color
            </div>
            <div class="col">
                @Model.Burialmain.Haircolor
            </div>
        </div>
    </div>

    <div class="col-6">
        <img src="" />
    </div>
</div>



