@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Burial";
}
@Model ? 

<div>
    <h1>@Model.BurialID</h1>
    @*<h1>
            {Burial ID (SquareNorthSouth, NorthSouth, SquareEastWest, EastWest, Area, Burial Number)}
        </h1>*@
<ul>
    <li>Sex: @Model.Sex</li>
    <li>Textile Color: @Model.TextileColor</li>
    <li>Textile Structure: @Model.TextileStructure</li>
    <li>Burial Depth: @Model.BurialDepth</li>
    <li>Estimate Stature: @Model.EstimateStature</li>
    <li>Age At Death: @Model.AgeAtDeath</li>
    <li>Head Direction: @Model.HeadDirection</li>
    <li>Textile Function: @Model.TextileFunction</li>
    <li>Hair Color: @Model.HairColor</li>
</ul>
</div>
@*<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-5">
                Sex
            </div>
            <div class="col">
                {Sex}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile color
            </div>
            <div class="col">
                {Textile color}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile structure
            </div>
            <div class="col">
                {Textile structure}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Burial Depth
            </div>
            <div class="col">
                {Burial Depth}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Estimate Stature
            </div>
            <div class="col">
                {Estimate Stature}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Age at Death
            </div>
            <div class="col">
                {Age at Death}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Head Direction
            </div>
            <div class="col">
                {Head Direction}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Textile Function
            </div>
            <div class="col">
                {Textile Function}
            </div>
        </div>

        <div class="row">
            <div class="col-5">
                Hair Color
            </div>
            <div class="col">
                {Hair Color}
            </div>
        </div>
    </div>

    <div class="col-6">
        <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fz%2Fegyptian-mummy-24270001.jpg&tbnid=maLoL_zJmKoU7M&vet=12ahUKEwiU6dn4k6D-AhUjLN4AHXY5AXkQMygDegUIARDwAQ..i&imgrefurl=https%3A%2F%2Fwww.dreamstime.com%2Fphotos-images%2Fegyptian-mummy.html&docid=EBCFx8TfaYk5gM&w=957&h=1300&q=mummy%20images&ved=2ahUKEwiU6dn4k6D-AhUjLN4AHXY5AXkQMygDegUIARDwAQ" />
    </div>
</div>*@


