@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Burial";
}

@model Burialmain

<div>
    <h1>@Model.Squarenorthsouth @Model.Northsouth @Model.Squareeastwest @Model.Eastwest @Model.Area @Model.Burialnumber</h1>
    <ul>
        @*<li>Textile Structure: @Model.TextileStructure</li>*@
        @*<li>Estimate Stature: @Model.EstimateStature</li>*@
        @*<li>Textile Function: @Model.TextileFunction</li>*@
    </ul>
</div>
<p>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-5">
                    Sex
                </div>
                <div class="col">
                    @Model.Sex
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Textile color
                </div>
                <div class="col">
                    {Textile color}
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Textile structure
                </div>
                <div class="col">
                    {Textile structure}
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Burial Depth
                </div>
                <div class="col">
                    @Model.Depth
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    Age at Death
                </div>
                <div class="col">
                    @Model.Ageatdeath
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Head Direction
                </div>
                <div class="col">
                    @Model.Headdirection
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Textile Function
                </div>
                <div class="col">
                    {Textile Function}
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Hair Color
                </div>
                <div class="col">
                    @Model.Haircolor
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    Field Notes
                </div>
                <div class="col">
                    {notes}
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    Measurements
                </div>
                <div class="col">
                   {Measurements}
                </div>
            </div>
        </div>


        <div class="col-6">
            <img src="" />
        </div>
        <br />

    </div>
</p>
<div> <button class="btn btn-primary" type="button"><a asp-action="BurialList">Back</a></button></div>


