@model PageModel

@{
    ViewData["Title"] = "Burial List";
}
@*@model IEnumerable<FullBurial>*@

@using (Html.BeginForm("BurialList", "Home", FormMethod.Get))
{
    @Html.TextBox("ageAtDeath")
    <label>Age at Death</label>
    <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage" />
    <input type="submit" value="search" />
    <br />

    @Html.TextBox("sex")
    <label>Sex</label>
    <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage" />
    <input type="submit" value="search" />
    <br />

    @Html.TextBox("depth")
    <label>Burial Depth</label>
    <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage" />
    <input type="submit" value="search" />
    <br />

    @Html.TextBox("Headdirection")
    <label>Head Direction</label>
    <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage" />
    <input type="submit" value="search" />
    <br />

    @Html.TextBox("haircolor")
    <label>Hair Color</label>
    <input type="hidden" name="pageNum" value="@Model.PageInfo.CurrentPage" />
    <input type="submit" value="search" />
}

<div class="container mt-5">
    <h1 class="text-center mb-5">Burial List</h1>
    <div class="row">
        @foreach (Burialmain b in Model.BurialList)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title m-0">Mummy @b.Squarenorthsouth @b.Northsouth @b.Squareeastwest @b.Eastwest @b.Area @b.Burialnumber</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">This mummy was a <strong>@b.Sex</strong> <strong>@b.Ageatdeath</strong> with <strong>@b.Haircolor</strong> hair and <strong>@b.Wrapping</strong> wrapping found in the <strong>@b.Area</strong> area.</p>
                        <a class="btn btn-primary" href="@Url.Action("BurialView", new { id = b.Id })">Read More!</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex justify-content-end mt-3">
        <div page-model="@Model.PageInfo" asp-route-ageAtDeath="@ViewBag.AgeAtDeath" asp-route-Headdirection="@ViewBag.Headdirection" asp-route-depth="@ViewBag.Burialdepth" asp-route-haircolor="@ViewBag.haircolor"
             asp-route-sex="@ViewBag.Sex" asp-route-pageNum="@Model.PageInfo.CurrentPage" page-action="BurialList" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-secondary"
             page-class-selected="btn-secondary" class="btn-group">

            @*@if (!String.IsNullOrEmpty(ViewBag.AgeAtDeath))
                {
                    <a asp-action="BurialList" asp-route-ageAtDeath="@ViewBag.AgeAtDeath" asp-route-sex="@ViewBag.Sex" asp-route-pageNum="@(Model.PageInfo.CurrentPage - 1)">Previous</a>
                }
                else
                {
                    <a asp-action="BurialList" asp-route-pageNum="@(Model.PageInfo.CurrentPage - 1)">Previous</a>
                }

                @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
                {
                    if (!String.IsNullOrEmpty(ViewBag.AgeAtDeath))
                    {
                        <a asp-action="BurialList" asp-route-ageAtDeath="@ViewBag.AgeAtDeath" asp-route-sex="@ViewBag.Sex" asp-route-pageNum="@i">@i</a>
                    }
                    else
                    {
                        <a asp-action="BurialList" asp-route-pageNum="@i">@i</a>
                    }
                }

                @if (!String.IsNullOrEmpty(ViewBag.AgeAtDeath))
                {
                    <a asp-action="BurialList" asp-route-ageAtDeath="@ViewBag.AgeAtDeath" asp-route-sex="@ViewBag.Sex" asp-route-pageNum="@(Model.PageInfo.CurrentPage + 1)">Next</a>
                }
                else
                {
                    <a asp-action="BurialList" asp-route-pageNum="@(Model.PageInfo.CurrentPage + 1)">Next</a>
                }*@
        </div>
    </div>
</div>
